.Header{
    color: rgb(230, 84, 84);
}

ul#slide-out{
    list-style-type: none;
    
    background-color: #f1f1f1;
    width: 25%;
    height: 100%;
    position: fixed;
    overflow: auto;
    float: left;
    
}

.bold {
    padding: 15px;
    display: block;
}

#name {
    font-size: 20px;
    display: block;
}



main{
    position: static;
}



.Nav li {
    color: blue;
    display: inline;
    font-style: italic;
}

